/* Unfortunate AntD Overrides */

.ant-timeline-item-head {
  background-color: transparent !important;
  top: 50px !important;
}

.ant-timeline-item-tail {
  border-left: 0.5px dashed #CEF6FF !important;
  top: 60px !important;
}

.ant-timeline-item-content {
  display: flex;
  justify-content: center;
}

.ant-btn:hover {
  color: #8ECAE6 !important;
  border-color: #8ECAE6 !important;
}

.ant-layout.appContainer {
  background-color: #8ECAE6;
}

/* End: Unfortunate AntD Overrides */

/* Stylize item rank by odd / even */

.ant-timeline-item-head-custom .itemRank {
  border-radius: 50%;
  color: #CEF6FF;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  overflow: hidden;
  letter-spacing: -4px;
}

.itemRankEven {
  border-right: 2px solid #CEF6FF;
  margin-left: -4px;
  padding-right: 4px;
}

.itemRankOdd {
  border-left: 2px solid #CEF6FF;
  margin-left: -8px;
}

/* End: Stylize item rank by odd / even */

.logo {
  display: flex;
  align-items: baseline;
}

.cardContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topThreeViewDaysRow {
  display: flex;
  align-items: center;
  gap: 6px;
}
